{% extends 'base.html.twig' %}

{#{% block title %}Register{% endblock %}#}

{#{% block body %}#}
{#    <h1>Ajout d'un Utilisateur</h1>#}

{#    {{ form_errors(registrationForm) }}#}

{#    {{ form_start(registrationForm) }}#}
{#    {{ form_row(registrationForm.nom) }}#}
{#    {{ form_row(registrationForm.prenoms) }}#}
{#    {{ form_row(registrationForm.email) }}#}
{#    {{ form_row(registrationForm.password) }}#}
{#    {{ form_row(registrationForm.passwordConfirm) }}#}
{#    {{ form_row(registrationForm.img) }}#}
{#<div class="row">#}
{#    <div class="col-12">#}
{#        <div class="form-group">#}
{#            {{ form_row(registrationForm.roles, {#}
{#                'attr': {#}
{#                    'class': 'select2bs4',#}
{#                    'multiple': 'multiple',#}
{#                    'style': 'width: 100%;',#}
{#                }#}
{#            }) }}#}
{#        </div>#}
{#    </div>#}
{#</div>#}


{#    <button type="submit" class="btn btn-success">Enregistrer</button>#}
{#    {{ form_end(registrationForm) }}#}
{#{% endblock %}#}

{% block titlecss%} Ajout d'un utilisateur{% endblock %}


{% block body %}
    <div class="card card-success">
        <div class="card-header">
            <h5 align="center">Création d'un compte d'utilisateur</h5>
        </div>

        {{ form_start(registrationForm,{'attr':{'class':'form theme-form','novalidate': 'novalidate'}}) }}
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label class="col-form-label required">Nom : </label>
                        <div class="input-group mb-3">

                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            {{ form_widget(registrationForm.nom,{'attr': {'class': 'form-control btn-pill' }}) }}
                            {{ form_errors(registrationForm.nom) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label class="col-form-label required">Prénom(s) : </label>
                        <div class="input-group mb-3">

                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            {{ form_widget(registrationForm.prenoms,{'attr': {'class': 'form-control btn-pill' }}) }}
                            {{ form_errors(registrationForm.prenoms) }}

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label class="col-form-label required">Email : </label>
                        <div class="input-group mb-3">

                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            {{ form_widget(registrationForm.email,{'attr': {'class': 'form-control btn-pill' }}) }}
                            {{ form_errors(registrationForm.email) }}

                        </div>
                    </div>
                </div>
            </div>



            <div class="row">

                <div class="col-form-label">
                    {{ form_row(registrationForm.roles,{'attr': {'class': 'js-example-basic-multiple col-sm-12' }}) }}
                    {{ form_errors(registrationForm.roles) }}


                </div>

            </div>
            <div class="row">

                <div class="col-form-label">
                    {{ form_row(registrationForm.img,{'attr': {'class': 'js-example-basic-multiple col-sm-12' }}) }}
                    {{ form_errors(registrationForm.img) }}


                </div>

            </div>

            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label class="col-form-label required">Mot de passe : </label>
                        <div class="input-group mb-3">

                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            </div>
                            {{ form_widget(registrationForm.password,{'attr': {'class': 'form-control btn-pill' }}) }}
                            {{ form_errors(registrationForm.password) }}

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label class="col-form-label required">Confirmer le mot de passe : </label>
                        <div class="input-group mb-3">

                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            </div>
                            {{ form_widget(registrationForm.passwordConfirm,{'attr': {'class': 'form-control btn-pill' }}) }}
                            {{ form_errors(registrationForm.passwordConfirm) }}

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer text-end">
                        <a class="btn btn-primary"  type="button" href="{{ path('app_user_index') }}">Retour à la liste des Utilisateurs</a>
            <div class="float-right">
                <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> Enregistrer</button>
                <button class="btn btn-warning" type="reset" value="Annuler"><i class="fa fa-times"></i> Annuler
                </button>
            </div>
            {{ form_end(registrationForm) }}

        </div>
    </div>
{% endblock %}
