
{% extends "base.html.twig" %}

{% block body %}
    <div class="col-xl-8 offset-sm-2">
        {{ form_start(form,{'attr':{'class':'card','novalidate': 'novalidate'}}) }}

        <div class="card-header">
            <h4 class="card-title mb-0">Modification du mot de Passe</h4>
            <div class="card-options">
                <a class="card-options-collapse" href="#" data-bs-toggle="card-collapse">
                    <i class="fe fe-chevron-up"></i>
                </a>
                <a class="card-options-remove" href="#" data-bs-toggle="card-remove">
                    <i class="fe fe-x"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
                    <div class="mb-6">

                        {{ form_row(form.oldPassword,{'attr': {'class': 'form-control btn-pill' }}) }}

                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="mb-3">
                        {{ form_row(form.newPassword,{'attr': {'class': 'form-control btn-pill' }}) }}
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="mb-3">
                        {{ form_row(form.confirmPassword,{'attr': {'class': 'form-control btn-pill' }}) }}
                    </div>
                </div>

            </div>
        </div>
        <div class="card-footer text-end">
            <button class="btn btn-primary" type="submit">Modifier votre mot de Passe</button>
        </div>
    </div>

    {{ form_end(form) }}

    </div>

{% endblock %}

