{% extends 'base_table_admilte.html.twig' %}

{% block title %}Gestion Utilisatuers{% endblock %}


{% block body %}
    <div class="col-xl-10 offset-sm-1">
        {{ form_start(form,{'attr':{'class':'card','novalidate': 'novalidate'}}) }}

        <div class="card-header">
            <h4 class="card-title mb-0">Modification du mot de Passe de l'utilisateur: {{ user.fullName }}</h4>
            <div class="card-options">
                <a class="card-options-collapse" href="#" data-bs-toggle="card-collapse">
                    <i class="fe fe-chevron-up"></i>
                </a>
                <a class="card-options-remove" href="#" data-bs-toggle="card-remove">
                    <i class="fe fe-x"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-sm-6 col-md-6">
                    <div class="mb-3">
                        {{ form_row(form.newPassword,{'attr': {'class': 'form-control btn-pill' }}) }}
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="mb-3">
                        {{ form_row(form.passwordConfirm,{'attr': {'class': 'form-control btn-pill' }}) }}
                    </div>
                </div>

            </div>
        </div>
        <div class="card-footer text-end">
            <div class="float-right">
                <a class="btn btn-primary" type="button" href="{{ path('app_user_index') }}">
                    <i class="fa fa-arrow-left"></i>
                    Retour à la liste des
                    Utilisateurs</a>

                <button class="btn btn-success" type="submit"><i class="fa fa-check"></i>Reinitialiser mot de Passe</button>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

    </div>

{% endblock %}

